name: 'WWS Tests'
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Tests
        run: python3 tests.py
